.about {
  padding-top: 183px;
  padding-bottom: 183px;
  position: relative;
  z-index: 1;
  min-height: 600px;
  background-color: #d8ecfe;
}

.container {
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  right: 177px;
  bottom: 0px;
  z-index: 5;
  display: block;
  width: 273px;
  height: 627px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url('../../../assets/img/HeroSvg.svg');
}

.about::after {
  content: '';
  position: absolute;
  right: 90px;
  bottom: 77px;
  display: block;
  width: 446px;
  height: 447px;
  /* background-position: right center; */
  background-repeat: no-repeat;
  background-image: url('../../../assets/img/HeroSvg_2.svg');
}

.contentWrapper {
  max-width: 600px;
}

.text {
  margin-top: 24px;
  padding-right: 110px;
  font-size: 18px;
  line-height: 150%;
}